* {
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

/* MENU  */

.menu{
    display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: fixed;
  align-items: center;
  width: 100%;
  padding-top: 10px;
    background-color: black;
    padding-bottom: 8px;
}

.imglogo{
    border-radius: 15px;
    border: 1px solid white;
    width: 9%;
}
.logo{
    display: flex;
    align-items: center;
}

.menu-content{
    font-size: 20px;
    width: 20%;
}

.menu-content a{
    text-decoration: none;
    color: white;
    padding-right: 13px;
}

.downloadbtn button{
    padding: 10px;
}

.menutext{
    margin-top: 300px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

/* .secondimg{
    background-image: url(./logo.png);
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
} */


/* ABOUT  */

.about{
    padding-left: 250px;
    padding-top: 40px;
    float: left;
    height: 40%;
    width: 30%;
}

.myimg{
    float: right; 
    width: 30%;
    height: 50%;
    padding-top: 40px;   
    padding-right: 250px;
}

.hello-header{
    color: #6c6c6c ;
}

.myname{
    font-size: 50px;
}

.experience{
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #6c6c6c;
    
}

#about-division{
    padding-top: 90px;
    padding-bottom: 30px;
    background-color: #1f1e1e;
}

#projects-tittle{
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.myproject-img{
    padding-top: 50px; */
    display: flex;    
}

.about-project{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 90px; 
    padding-left: 30px; 
    margin-right: 20px; 
}

#projects-division{
    padding-top: 40px;  
    margin-left: 150px;
    margin-right: 200px ;
    background-color: #1f1e1e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-project2{
    padding-top: 90px; */
    display: flex;
    margin-top: 20px; 
    justify-content: center;
    padding-left: 30px; 
}

.myproject2-img{
    display:flex;
    flex-direction: column;
    padding-top: 40px; 
    padding-left: 30px; 
}

/* SKILLS  */

.about-skills{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.list{
    border-bottom: 1px solid #6c6c6c;
    padding: 1%;
    margin: 3%;
    display: flex;
    justify-content: space-around;
}

.list:hover{
background-color: #9e9e9e;
}

.callbtn{
    display: flex;
    margin-bottom: 4%;
    align-content: center;
    padding: 1%;
}

#skills-division{
    background-color: #1f1e1e;
    padding-left: 8%;
    padding-top: 2%;
}

/* CONTACT  */

.contactfooter{
    padding-top: 40px;  
    margin-left: 50px;
    margin-right: 200px ;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form{
    padding-top: 10px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
 
.frmcontent {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: black;
    color:  #1f1e1e;
  }
  
  .sendbtn {
    background-color: orange;
    color: white;
    padding: 10px;
  }

  .contactheader{
    display: flex;
    justify-content: center;
    margin: 20px;
  }

.lastlist{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

.contact-btmtxt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10%;
    margin-bottom: 2%;

}

.lastnav{
    gap: 1%;
}

.chattxt{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}


#footer{
    display: flex;
    flex-direction: row;
    margin: 3%;
}


